*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Acme", sans-serif;
    font-weight: 400;
      
      

}


body{
    background: black;
    min-height: 100vh;
}


header {
    box-shadow: 0 0 2rem -1rem white;
    margin-bottom: 1rem;
    width: 100%;
    /* border: 1px solid rgba(255, 255, 255, 0.632); */
}

.nav {
    display: flex;
    background: black;
    align-items: center;
}

.nav input{
    height: 35px;
    width: 240px;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid rgb(191, 242, 82) ;
    border-radius: 7px;
    margin-right: 7px;
    flex-grow: 2;
    color: #35c9dd;
    font-size: 32px;
    text-align: center;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
}

.nav button{
    background-color: transparent;
    color: white;
    height: 35px;
    width: 100px;
    border: 2px solid #88e23b ;
    border-radius: 7px;
    flex-grow: 1;
    margin-right: 9px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
    transition: 0.18s;
}

.nav button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 1.2rem rgba(255, 255, 255, 0.5);

}
nav img {
    margin-left: 7px;
    margin-right: 7px;
    width: 100%;
    max-width:9rem;
    
}


.personaje-todos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3rem 0.5rem;
    justify-content: space-around;
    
}

.personaje-img {
    display: flex;
    justify-content: center;
    
}


.personaje-img img {
    border-radius: 1rem;
    width: 100%;
    max-width:13rem;
    border: 2px solid white;
}

.personaje{
    position: relative;
    text-align: center;
    margin: 0;
    border-radius: 1rem;
    border: 2px solid white;
    height: 19rem;
    width: 17rem;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
    transition: 0.18s;
}

.personaje:hover{
    transform: scale(1.05);
    box-shadow: 0 0 1.9rem #50dff2;
    border: 2px solid #88e23b;
}

.personaje h3{
    margin-top: 1em;
    margin-bottom: 1em;
}

.personaje-id-back{
    font-size: 1.5rem;
}

.modal{
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.297);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    
    
    /* height: 80%;
    width: 40%; */
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .4s;
}

.modal-personaje{
    /* display: grid;
    justify-content: center; */
    position: relative;
    width: 30%;
    height: 100%;
    margin: auto;
    max-width: 600px;
    max-height: 90%;
    border-radius: 1rem;
    background-color: black;
    border: 2px solid white;
    /* overflow: auto; */

}

.modal-personaje *{
    text-shadow: 1px 1px 29px white
}

.contenedor-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    height: 15%;
}

.personaje-id{
    margin-top: 40px;
    font-size: 30px;
    padding: 0;
    
}

.img-modal{
    /* background-color: gray; */
    /* background: none; */
    height: 50%;
    margin-top: 15px;
    
    display: flex;
    justify-content: center;
}



.modal-personaje img{
    width: 55%;
    max-width: 80%;
    height: auto;
    margin: auto;
    border-radius: 1rem;
    border: 3px solid white;


}

.info-personaje{
    display: grid;
    grid-template-columns: auto;
    /* justify-content: flex-start; */
    text-align: center;
    height: 32%;
    /* background-color: rgba(127, 255, 212, 0.534); */
    margin-bottom: 20px;
}


.modal-personaje h3{
    font-size: 2.4rem;
    padding: 0;
    margin-bottom: 20px;
    text-shadow: 1px 1px 29px white
}

.modal-personaje button{
    background-color: red;
    height: 50px;
    width: 50px;
    border: 2px solid rgb(168, 26, 26);
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 4px;
    right: 0;
    position: absolute;
    font-size: 20px;
}


.info-personaje p{
    /* padding-left: 20px; */
    font-size: 20px;
}
